header{
    height: 80px;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.headerNav{
    display: flex;
    margin-left: 22%;
    margin-bottom: 0.2%;
}
.workFieldHeader{
    display: flex;
    width: 90%;
    height: 80px;
    margin: auto;
    align-items: center;
    white-space: nowrap;    
}
.headerIcons{
    display: flex;
    float: right;
    width: auto;
    margin-top: 2px;
    justify-content: center;
    margin-left: 33.7%;
}
.mainIcon{
    margin-top: 5px;
}
.cartIcon{
    display: flex;
    margin-left: 40%;
}
.headerProducts{
    margin-right: 12.4%;
}
.headerTextSolutions{
margin-right: 11.6%;
}
.vectorHeader{
    padding-left: 3%;
}
.headerAbout{
    margin-right: 14.6%;
}
.textFrame1{
    width: 50%;
    align-items: center;
}
.phones{
    display: flex;
    width: 90%;
    height: 34.5em;
    font-family: "Readex Pro", sans-serif;
    border-radius: 35px;
    background-color: rgb(220, 229, 226);
    margin-top: 2%;
}
.imgFrame1{

}
.headText{
    font-size: 58px;
    font-weight: 400;
    margin-top: 2.47em;
    margin-left: 8.7%;
    
}
.secondaryText{
    margin-left: 8.7%;
    margin-top: 2.2%;
    font-size: 16px;
}
.explore{
    display: flex;
    height: 50px;
    width: 170px;
    border-radius: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-left: 8.7%;
    margin-top: 4.3%;
    font-size: 18px;
}
.leftVector{
position: absolute;
top: 41.5%;
margin-left: 1.4%;
}
.rightVector{
    position: absolute;
    
    top: 41.5%;
    right: 5%;
    margin-right: 1.4%;
}
.hotbarPhones{
    display: flex;
    position: absolute;
    height: 15%;
    width: 80%;
    bottom: 0;
    top:61.2%;
    left:10.5%;
    justify-content: center;
    align-items: center;
    gap:1%;
}
.firstRec{
    margin-right: 2.1%;
}
.secondRec{
    margin-right: 2.4%;
}
.shopOur{
    width: 93.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.3%;
}
.fourPictures{display: flex;
    flex-direction: row;
    gap: 1.3%;
    margin-top: 4.5%;
    margin-right: 1.1%;
}
.textShopOur{ 
    font-family: "Readex Pro", sans-serif;
    width: 85.2%;
}
.textShopOur h3{
    font-size: 260%;
    font-weight: 450;
    margin-bottom: 0.2%
}
.textShopOur p{
    font-size: 88.3%;
    margin: 0;  
}
.firstPics2{
    flex-direction: column;
}

.firstPicDiv{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 472px;
    width: 639px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.firstPicWithText{
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.firstPicText b{
font-size: 200%;
line-height: 50%;
font-family: "Readex Pro", sans-serif;
font-weight: 400;
}
.firstPicText p{
    margin: 0;
    padding-bottom: 2%;
    line-height: 90%;
}
.firstPicText{
    width: 100%;
    text-align: right;
    height: 95px;
    font-family: "Readex Pro", sans-serif;
}

.firstPic{
    width: 500px;
}
.secondPicDiv{
    margin-top: 72px;
    height: 270px;
    width: 639px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.secondPicWithText{
    width: 555px;
    align-items: center;
    display: flex;
    
}
.secondPicWithText>p+b {
    display: flex;
    justify-content: end;
    align-items: end;

}
.secondPic{
width: 381px;
}
.secondPics2{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.secondText{
    width: 175px;
    height: 95px;
    padding-bottom: 2.5%;
    text-align: end;
    font-family: "Readex Pro", sans-serif;
}
.secondText p{
    font-size: 100%;
    font-weight: 450;
    margin: 0%;
}
.secondText b{
    font-weight: 450;
    font-size: 200%;
}
.thirdPic{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 322px;
    height: 792px;
    align-items: center;
    display: flex;
}
.thirdPicWithText{
    display: flex;
    flex-direction: column;
    height: 63.7%;
    width: 100%;
}
.thirdPicWithText img{
    width:94%;
    margin-left: auto;
}
.thirdText b{
    font-size: 200%;
    font-weight: 450;
    margin: 0%;
}
.thirdText p{
    margin: 0%;
    font-weight: 400;
}
.thirdText{
    font-family: "Readex Pro", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 14%;
}
.fourthPic{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 320px;
    height: 792px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.fourthPicWithText{
    display: flex;
    flex-direction: column;
    height: 71%;
    width: 100%;
}
.fourthPicWithText p{
margin: 0;
font-weight: 350;
line-height: 90%;
}
.fourthPicWithText b{
    margin: 0;
    font-size: 200%;
    font-weight: 500;
    }
.fourthText{
    font-family: "Readex Pro", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.fourthPicWithText img{
padding-top: 12%;
}
.frame3{
    width: 1350px;
    height: 606px;
    display: flex;
    justify-content: center;
    margin-top: 5.9%;
    flex-direction: column;
}
.frame3Text{
    font-family: "Readex Pro", sans-serif;
    width: 95.6%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 154px;
    font-size: 247%;
}
.frame3Text b{

}
.frame3Text p{
    font-weight: 400;
    margin: 0.8%;
    font-size: 34.5%;
}
.frame3GridContainer{
    width: 95.6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Создаем 4 равные колонки */
    grid-gap: 10px;
}
.frame3Item{
    background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}