header{
    height: 80px;
}
body{
    margin: 0;
    padding: 0;
    width: 1440px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.headerNav{
    display: flex;
    margin-left: 22%;
    margin-bottom: 0.2%;
}
.workFieldHeader{
    display: flex;
    width: 90%;
    height: 80px;
    margin: auto;
    align-items: center;
    white-space: nowrap;    
}
.headerIcons{
    display: flex;
    float: right;
    width: auto;
    margin-top: 2px;
    justify-content: center;
    margin-left: 33.7%;
}
.mainIcon{
    margin-top: 5px;
}
.cartIcon{
    display: flex;
    margin-left: 40%;
}
.headerProducts{
    margin-right: 12.4%;
}
.headerTextSolutions{
margin-right: 11.6%;
}
.vectorHeader{
    padding-left: 3%;
}
.headerAbout{
    margin-right: 14.6%;
}
.textFrame1{
    width: 50%;
    align-items: center;
}
.phones{
    display: flex;
    width: 90%;
    height: 34.5em;
    font-family: "Readex Pro", sans-serif;
    border-radius: 35px;
    background-color: rgb(220, 229, 226);
    margin-top: 2%;
}
.imgFrame1{

}
.headText{
    font-size: 58px;
    font-weight: 400;
    margin-top: 2.47em;
    margin-left: 8.7%;
    
}
.secondaryText{
    margin-left: 8.7%;
    margin-top: 2.2%;
    font-size: 16px;
}
.explore{
    display: flex;
    height: 50px;
    width: 170px;
    border-radius: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-left: 8.7%;
    margin-top: 4.3%;
    font-size: 18px;
}
.leftVector{
position: absolute;
top: 41.5%;
margin-left: 1.4%;
}
.rightVector{
    position: absolute;
    
    top: 41.5%;
    right: 5%;
    margin-right: 1.4%;
}
.hotbarPhones{
    display: flex;
    position: absolute;
    height: 15%;
    width: 80%;
    bottom: 0;
    top:62%;
    left:10.5%;
    justify-content: center;
    align-items: center;
    gap:1%;
}
.firstRec{
    margin-right: 2.5%;
}
.secondRec{
    margin-right: 2.8%;
}
.textShopOur{ 
    font-family: "Readex Pro", sans-serif;
}
.textShopOur h1{
    font-size: 250%;
    font-weight: 450;
}
.textShopOur p{
    font-size: 100%;

}
.shopOur{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}